body {
    margin: 0;
    background: #d7d3c5;
    font-family: Georgia, serif;
    color: #333;
}

/* HEADER */
header {
    background: #c89b3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 60px;
}

header h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.quick-links {
    background: #e9e6df;
    border: 2px solid #333;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}

/* WELCOME BANNER */
.welcome {
    background: #e0ded7;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
}

.welcome h2 {
    margin: 0;
    font-size: 24px;
}

/* MAIN LAYOUT */
main {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
}

/* PANELS */
.panel {
    background: #e0ded7;
    padding: 20px;
    border-radius: 15px;
    flex: 1;
}

.panel h3 {
    text-align: center;
    margin-top: 0;
}

.left .dog {
    display: block;
    margin: 20px auto;
    width: 120px;
}

.left p {
    text-align: center;
    font-weight: bold;
}

/* TEAM SECTION */
.team-container {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
}

.divider {
    background: #333;
    width: 2px;
}

.gethin h4 {
    text-align: center;
    font-weight: bold;
    margin-top: 40%;
}
